<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <section class="sp-login-section my-sp-theme" role="main">
      <div class="sp-login-wrapper">
        <header class="sp-login-header">
          <h1 class="sp-login-title">Log in</h1>
          <p class="sp-login-subtitle">
            Use your credentials to access the portal.
          </p>
        </header>

        <form
          class="form-signin ng-pristine ng-valid ng-scope"
          ng-submit="c.login(c.username, c.password)"
          method="post"
        >
          <fieldset class="sp-login-fields panel panel-default">
            <legend class="sr-only">Login Form</legend>

            <!-- Username -->
            <div class="form-group list-group-item">
              <label for="username" class="label-advanced ng-binding"
                >User name</label
              >
              <input
                type="text"
                id="username"
                name="username"
                class="form-control input-advanced ng-pristine ng-valid ng-empty ng-touched"
                ng-model="c.username"
                ng-keypress="c.message = ''"
                ng-click="c.message = ''"
                autocapitalize="off"
                autocomplete="off"
                role="textbox"
                autofocus
              />
            </div>

            <!-- Password -->
            <div class="form-group list-group-item">
              <label for="password" class="label-advanced ng-binding"
                >Password</label
              >
              <div class="input-group password-group input-group-advanced">
                <input
                  type="password"
                  id="password"
                  name="password"
                  class="form-control input-advanced ng-pristine ng-untouched ng-valid ng-empty"
                  ng-model="c.password"
                  ng-keypress="c.message = ''"
                  ng-click="c.message = ''"
                  autocomplete="off"
                  role="textbox"
                />
                <span class="input-group-append input-advanced">
                  <button
                    id="mask_icon"
                    type="button"
                    class="btn btn-default icon-preview mask_btn sn-tooltip-basic"
                    ng-click="c.renderMaskIcon()"
                    aria-label="Show Password"
                    data-toggle="tooltip"
                    data-container="body"
                    data-original-title="Show password"
                  ></button>
                </span>
              </div>
            </div>

            <!-- Remember me -->
            <div class="form-group checkbox">
              <label>
                <input
                  type="checkbox"
                  id="remember_me"
                  name="c.remember_me"
                  class="checkbox ng-pristine ng-untouched ng-valid ng-empty"
                  ng-model="c.remember_me"
                  value="true"
                  role="checkbox"
                />
                Remember me
              </label>
            </div>

            <!-- Forgot password + Login button -->
            <div class="form-group forgot-pwd-div m-b row">
              <div
                class="col-xs-8 forgot-text"
                ng-if="::(c.data.forgotPwdLinkProp == 'true')"
              >
                <a
                  class="forgot-pwd-link"
                  href="/$pwd_reset.do?sysparm_url=ss_default"
                  >Forgot Password?</a
                >
              </div>
              <div class="col-xs-4">
                <button
                  type="submit"
                  class="btn btn-lg btn-primary btn-block login-button-old"
                  name="login"
                >
                  Log in
                </button>
              </div>
            </div>

            <!-- External login (SSO) -->
            <div
              class="form-group row set-login-type-link m-t"
              ng-if="::data.multisso_enabled"
            >
              <div class="col-xs-12 text-center">
                <a
                  href="javascript:void(0)"
                  ng-click="c.setExternalLogin(true)"
                >
                  Use external login
                </a>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </section>
  </body>
</html>
